.bash_logout
.bitcoin
.cache
.cargo
.cloudshell
.config
.gsutil*
.npm
.nvm
.nvs
.nv
.orion
README-cloudshell.txt
.ssh
.viminfo
.vimshell
.yarn
.yarnrc
.bash_history
.conda*
.ipfs
.ICEauthority
.Xauthority
.dbus
.gstreamer-0.10
.ngrok2
.vnc
.secrets
.vim
.gvm
.local
.pki
.node-gyp
.fontconfig
.atom*
.node_repl_history
.tintin
.wget-hsts
.ethereum*
.standard-cache*
.babel.json*
.elm*
.gem*
.jspm*
.v8flags*
.webpack*
.cf
.linuxbrew
**/node_modules
npm-debug.log*
eval
game
Applications
work*
go
tmp
.pm2
.pm2-dev
.wireshark
.forever
.bluemix/
.bundle/
.electron/
.ccache
.bitmonero
.motd
.usrcoin
.zcash-params
.sudo_as_admin_successful
.docker
mining
mininet
hack
db-4.8.30
.VERGE
.tor
.Bitcoinote
.rnd
mining-tools
backup
private
.bcoin/
.bwdb/
.dbshell
.gnupg/
.mongorc.js
.moby
alex2006hw
backups
.ethash
.stack
.rpmmacros
.rpmdb/
.electron
.electron-gyp
.z
xcoin-hash/
ut
fv
