.bash_logout
.cache
.cloudshell
.config
.gsutil*
.npm
.nvm
.orion
README-cloudshell.txt
.ssh
.viminfo
.vimshell
.yarn
.yarnrc
.bash_history
.conda*
.ipfs
.ICEauthority
.Xauthority
.dbus
.gstreamer-0.10
.ngrok2
.vnc
.secrets
.vim
.gvm
.local
.pki
.node-gyp
.fontconfig
.atom*
.node_repl_history
.wget-hsts
.ethereum*
.standard-cache*
.babel.json*
.elm*
.gem*
.jspm*
.v8flags*
.webpack*
**/node_modules
npm-debug.log*
eval
Applications
work
go
.cf
